.centered-content {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loader, #login, #main {
    height: 100%;
}

#main {
    padding: 8px;
}

#loading-gif {
    height: 16px;
    width: 16px;
}

#img-logo-img {
    height: 125px;
    width: 125px;
}

#user-photo {
    height: 64px;
    width: 64px;

    margin-bottom: 0;
}