@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-reg-webfont.eot');
    src: url('../fonys/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-reg-webfont.woff') format('woff'),
         url('../fonts/lato-reg-webfont.ttf') format('truetype'),
         url('../fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}
body {
    width: 400px;
    min-height: 480px;
    overflow-x: hidden;
    background-color: #fcfcfc;
    font-family:'Lato';
}
#loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -10px;
}
#message {
    padding: 5px;
    text-align: center;
    color: rgb(253, 106, 106);
}
.field {
    width: 360px;
    border-radius: 3px;
    height: 30px;
    border: 1px solid #D8D8D8;
    padding: 0 10px;
    outline: none;
    color: #777;
    margin-top:10px;
    margin-left: 10px;
    z-index:0;
    font-size: 16px;
}
.field:focus {
    outline:1px solid #ddd;
}
#profile_page {
    vertical-align: middle;
}
#profile_box div {
    float: left;
    padding: 15px;
    padding-bottom: 0px;
}
.profile_pic {
   height: 65px;
}
#main {
    width: 390px;
    overflow: auto;
    padding: 10px 0;
}
#user_name_box {
    color: #3988AD;
    height: 60px;
    font-size: 18px;
    /* padding: 10px; */
    /* padding-bottom: 0; */
    padding-left: 15px; 
}
#user_box {
    height: 84px;
}
p#user_name {
    width: 190px;
    margin-left: -15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
p#user_info {
    font-size: 13px;
    padding-top: 7px;
    margin-left: -14px;
    color: #797979;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.img img {
    width:35px;
    height: 35px;
    margin-left: 4px;
}
.text {
    color: #999;
    font-size: 16px;
    padding: 6px 10px;
}
.links {
    overflow:auto;
    width: 185px;
    cursor:pointer;
    border-bottom: 1px solid #eee;
    float:left;
    padding-top: 6px;
    padding-bottom: 2px;
    margin-left: 10px;
}
.links:hover {
    background-color: #F0F0F0;
}
.link1 {
    border-top: 1px solid #eee;
}
.links div {
    float:left;
}
#submit {
    background: url(../images/submit.png) no-repeat;
    border: none;
    width: 38px;
    height: 62px;
    float: right;
    margin-top: -67px;
    z-index: 100;
    position:relative;
    cursor:pointer;
    outline:none;
    opacity: 0.9;
}
#submit:hover {
    opacity:1;
}
#loggedin{
    text-align: center;
    color: #555;
    /* padding: 15px 10px; */
    height: 45px;
    /* float: right; */
    /* margin-top: -43px; */
    position: absolute;
    right: 2px;
    top: 4px;    
}
::-webkit-input-placeholder {
 	  color: #ccc;
}
#logout_btn{
    border: none;
    color: #b1b1b1;
    background-color: rgb(255, 255, 255);
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 16px;
    margin: 10px;
    /* -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75); */
    -moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
    /* box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75); */
    cursor: pointer;
    border: 1px solid #D6D6D6;
}
#logout_btn:hover{
    background: rgb(248, 248, 248);
}
#footer {
    display: block;
    width: 100%;
    height: 40px;
    padding-top: 5px;
}
